In [57]:
#Import statements
import requests
import pprint
import pandas as pd
import json
import os

In [58]:
Lat = 28.27
Lon = 79.44
start_date = "2024-02-01"
end_date = "2024-05-31"
parameter = "tempMax"

In [59]:
historical_url = f"https://history.weathersourceapis.com/v2/points/{Lat},{Lon}/days/{start_date},{end_date}?fields={parameter}&unitScale=METRIC"
headers = {
    'X-API-KEY': 'g2Hepun1S7VuQfdDz7kDZeXJc'
    }

In [62]:
response = requests.get(historical_url,headers = headers)
data = response.json()
df_temp_wl= pd.read_json(json.dumps(data["history"]))
df_temp_wl[parameter] = df_temp_wl[parameter]
df_temp_wl

C:\Users\Sandhya Rani\AppData\Local\Temp\ipykernel_396\152663804.py:3: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_temp_wl= pd.read_json(json.dumps(data["history"]))

          date  tempMax
0   2024-02-01    12.26
1   2024-02-02    19.27
2   2024-02-03    21.56
3   2024-02-04    13.30
4   2024-02-05    19.21
..         ...      ...
116 2024-05-27    49.37
117 2024-05-28    49.10
118 2024-05-29    50.44
119 2024-05-30    51.16
120 2024-05-31    48.61

[121 rows x 2 columns]

In [63]:
#Save the historical data
file_name = f"D:\Code\weather_source\data\historical_{parameter}_{start_date}_{end_date}.json"
with open(file_name,"w") as f:
    json.dump(data,f)

<>:2: SyntaxWarning: invalid escape sequence '\C'
<>:2: SyntaxWarning: invalid escape sequence '\C'
C:\Users\Sandhya Rani\AppData\Local\Temp\ipykernel_396\4294649549.py:2: SyntaxWarning: invalid escape sequence '\C'
  file_name = f"D:\Code\weather_source\data\historical_{parameter}_{start_date}_{end_date}.json"